<!DOCTYPE html>
<html ng-app="Kittens">
<head>
  <title>Allison's Cat Palace</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>Welcome to Allison's Cat Palace!</header>

<%= yield %>

</body>
</html>
